.add {
  width: 200px;
  margin-top: 50px;
  display: inline-block;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0.5, 0, 0.5);
 
}

.bu {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  font-size: 35px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #003084;
}

.bu:hover {
  background-color: #1e70ff;
}

ul {
  list-style-type: none;
  justify-content: center;

  margin: 0;
  display: flex;
}

li {
  padding-right: 40px;
}

label {
  font-size: 35px;
  font-family: Bebas;

  color: #003084;
}
